@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    background: var(--c-background);
}

.global {
    margin: 0 auto;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

@media screen and (max-width:950px) {
    .global {
        margin-left: 100px;
        transition: all 0.3s ease-in-out;
    }
}

svg {
    vertical-align: middle;
}

:root {
    /*!--------- Couleur du background ---------!*/
    --c-background: #F6F6FF;

    /*!--------- Couleurs ---------!*/
    --c-white: #FFFFFF;
    --c-grey: #999999;
    --c-blue: #3246D3;
    --c-light-blue: #93D8FF;
    --c-dark-blue: #1A1B2D;
    --c-yellow: #ffbb55;

    /*!--------- Couleurs des notifications ---------!*/
    --c-success: #008F0E;
    --c-warning: #ffbb55;
    --c-error: #CF0000;

    /*!--------- Gradient ---------!*/
    --c-radial-gradient: radial-gradient(50% 3796.94% at 50% 50%, #476ae6 0%, #59C3FF 87.27%);

    /*!--------- Boîtes d'ombres ---------!*/
    --c-box-shadow-grey: 5px 5px 20px var(--c-grey);
    --c-box-shadow-blue : 5px 5px 20px rgba(50,70,211, 0.4);
}