@import url('initialisations.css');

* {

}

body {
    margin: 0 auto;
    display: flex;
    background-color: var(--c-background);
}

.global {
    margin: 0 auto;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.barre-recherche {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.barre-recherche form.search {
    margin: auto;
    display: flex;
    width: 100%;
    gap: 30px;
}

.barre-recherche form.search .div {
    position: relative;
}

.barre-recherche form.search .div .barre {
    width: 500px;
    height: 55px;
    background: #FFFFFF;
    padding: 20px;
    padding-left: 50px;
    box-shadow: 5px 5px 20px rgba(199, 199, 199, 0.4);
    border-radius: 10px;
    outline: none;
    border: none;
}
.barre-recherche form.search .div .barre:focus {
    outline: solid 2px var(--c-blue);
}


.barre-recherche form.search .div .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--c-grey);
}

.barre-recherche form.search .div .btn-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: var(--c-blue);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}


.barre-recherche form.search .btn-search:hover {
    background-color: var(--c-dark-blue);
    transition: all 0.3s ease;
}

.barre-recherche .profil {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 5px;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
}

.barre-recherche .profil .message {
    width: 30px;
    height: 30px;
    position: relative;
}

.barre-recherche .profil .message svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.barre-recherche .profil .settings {
    width: 30px;
    height: 30px;
    position: relative;
}

.barre-recherche .profil .settings svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.barre-recherche .profil .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.barre-recherche .profil .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


.global .dossiers {
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.global .dossiers .titre {
    padding: 1rem;
}

.dossiers .cards {
    display: flex;
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    gap: 20px;
}

.dossiers .cards a {
    color: #1A1B2D;
}

.card {
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.4);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    position: relative;
    color: #1A1B2D;
}

.card svg.icon-folder {
    margin-top: 15px;
    margin-left: 20px;
}

.card h2{
    position: absolute;
    top: 77px;
    left: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}

.card h5.prof {
    position: absolute;
    top: 115px;
    left: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.card span.star {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 40px;
    color: #FFBB55;
}

.card span.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 8px;
    color: #999999;
    transition: all 300ms ease-in-out;
}

.card h5.count {
    position: absolute;
    bottom: 5px;
    right: 13px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    text-align: right;
}

.add {
    display: flex;
    border: 3px dashed #3246D3;
    background: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: #3246D3;
    box-shadow: none;
}

.card:hover {
    box-shadow: none;
    background: #3246D3;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.card:hover a {
    color: #fff;
}

.card:hover span.menu {
    color: #fff;
}



@media screen and (max-width:950px) {
    .global {
        margin-left: 100px;
        transition: all 0.3s ease-in-out;
    }

    .barre-recherche form.search .div .barre {
        width: 300px;
    }
}

/* @media screen and (max-width:800px) {
    .add {
        width: 280px;
    }
} */