@import url('initialisations.css');

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

aside .titre h1 {
    position: absolute;
    top: 45px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

aside .titre a {
    color: var(--c-dark-blue);
}

aside .titre h1 span {
    background: var(--c-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside ul.list {
    margin: 150px auto 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

ul.list .list-item {
    margin: auto;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    color: white;
    position: relative;
}

ul.list .btn-deco {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
}

ul.list .list-item:active {
    background: var(--c-blue);
}

ul.list .list-item:hover {
    background: var(--c-blue);
}

ul.list .list-item a {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--c-grey);
}

ul.list .list-item a:hover {
    color: white;
}

ul.list .list-item a .icon {
    margin: auto;
    width: 30%;
    height: 100%;
    position: relative;
}

.list-item a .icon span {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

ul.list .list-item a .lien {
    margin: auto;
    width: 70%;
}


@media screen and (max-width:950px) {
    aside {
        width: 100px;
        transition: all 0.3s ease-in-out;
    }

    aside .titre h1 {
        font-size: 20px;
        transition: all 0.3s ease-in-out;
    }

    ul.list .list-item a .lien {
        display: none;
    }

    ul.list .list-item:active:after {
        right: -20px;
    }
}